.cards {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
  flex-flow: row wrap;
}

.card {
  width: calc(100% / 4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}

.card__inner {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}

.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  width: 100%;
  position: relative;
  padding: 0 30px;
  margin-bottom: 30px;
  box-shadow: 0px 7px 10px #0000001c;
}

.card.is-collapsed .card__inner:after {
  content: '';
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.card.is-expanded .card__inner:after {
  content: '';
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f7f7f7;
}

.card.is-expanded .card__inner .fa:before {
  content: '\f115';
}

.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}

.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(4n + 2) .card__expander {
    margin-left: calc(-96%);
  }

  .card:nth-of-type(4n + 3) .card__expander {
    margin-left: calc(-200% + 10px);
  }

  .card:nth-of-type(4n + 4) .card__expander {
    margin-left: calc(-300% + 10px);
  }

  .card:nth-of-type(4n + 5) {
    clear: left;
  }

  .card__expander {
    width: calc(400% - 20px);
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n + 3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

.close {
  color: #fff;
  text-align: right;
  display: block;
  padding: 5px 10px;
}
